* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}


body, html {
    height: 100%;
}

button, input {
    border-radius: 0px !important;
    border-width: 1.5px !important;
}

h2 {
    font-size: 50px;
    font-weight: 100;
}

p {
    font-size: 20px;
}
.background {
    background-image:url("login_background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=text], input[type=password] {
    color:#999999;
}

input[type=text]:focus, input[type=password]:focus {
    color: #ffffff;
}

input[type=text],input[type=password], input[type=text]:focus, input[type=password]:focus {
    font-weight: 500;
    border-color: #7b7676;
    background-color: #111;
    margin-bottom: 10px;
}

button {
    background-color: #111;
    transition: 0.70s;
}

.button-red {
    border-color: #e50914;
    color: #e50914;
    border-style: solid;
    margin-bottom: 10px;
}

.button-grey {
    border-color: #7b7676;
    color: #7b7676;
}

::placeholder {
    color: #7b7676;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.button-red:hover {
    background-color: #e50914;
    color: #ffffff;
}

.button-grey:hover {
    background-color: #7b7676;
    color: #ffffff;
}

 .logo {
    height: 65px;
}

.test-border {
    border: 2px solid red;
}

.titles-item {
    width: 300px;
    height: 450px;
    margin-right: 10px;
    border: 2px solid black;
    text-align: center;
    padding: 0px !important;
}

.titles-item-image {
    padding: 0px;
    width: 94%;
    height: 400px;
    margin-left: 3%;
    border: 2px solid black;
    margin-top: 5%;
}

.hidden-button {
    background-color: #ffffff;
    border: 0px solid white;
}

a.nav-link {
    font-size: 20px;
}

.navbar {
    background-color: black;
    opacity: 1;
}

.prof {
    width:100%;
    height:100%;
    border-radius: 50%;
}

.title-user {
    height: 140px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.title-asset {
    width: 200px;
    height: 275px;
    border: 2px solid black;
    position: relative;
}

.asset {
    width:100%;
    height: 80%;
    transition: 0.4s;
}

.asset-img-buttons {
    z-index: 10;
}

.asset-image, .asset-img-buttons {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0px;
}
