* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}


body, html {
    height: 100%;
}

button, input {
    border-radius: 0px !important;
    border-width: 1.5px !important;
}

h2 {
    font-size: 50px;
    font-weight: 100;
}

.thicc {
    font-weight: 900;
}

p {
    font-size: 20px;
}
.background {
    background-image:url("login_background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-plain {
    background-color: rgb(245, 245, 241);
}

.background-white {
    background-color: white;
}

input[type=text], input[type=password] {
    color:#999999;
}

input[type=text]:focus, input[type=password]:focus {
    color: #ffffff;
}

input[type=text],input[type=password], input[type=text]:focus, input[type=password]:focus {
    font-weight: 500;
    border-color: #7b7676;
    margin-bottom: 10px;
}


.button-red {
    background-color: #111;
    transition: 0.70s;
    border-color: #e50914;
    color: #e50914;
    border-style: solid;
    margin-bottom: 10px;
}

.button-grey {
    background-color: #111;
    transition: 0.70s;
    border-color: #7b7676;
    color: #7b7676;
}

.button-acc {
    border-style:none;
}

::placeholder {
    color: #7b7676;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.button-red:hover {
    background-color: #e50914;
    color: #ffffff;
}

.button-grey:hover {
    background-color: #7b7676;
    color: #ffffff;
}

.logo {
    height: 55px;
}

.test-border {
    border: 2px solid red;
}

.titles-item {
    width: 300px;
    height: 450px;
    margin-right: 10px;
    border: 2px solid black;
    text-align: center;
    padding: 0px !important;
}

.titles-item-image {
    padding: 0px;
    width: 94%;
    height: 400px;
    margin-left: 3%;
    border: 2px solid black;
    margin-top: 5%;
}

.hidden-button {
    background-color: #ffffff;
    border: 0px solid white;
}

a.nav-link {
    font-size: 20px;
}

.navbar {
    background-color: white;
}

.prof {
    width:100%;
    height:100%;
    border-radius: 50%;
    border: 2px solid black;
}

.title-user {
    height: 140px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}



.title-asset {
    width: 250px;
    height: 250px;
    border: 3px solid black;
}

.asset-image-buttons {
    width: 100%;
    height: 150px;
}

.asset-image-btn {
    height: 100%;
    width: 100%;
    border-style: none;
    background-color: rgb(245, 245, 241);
    font-size: 20px;
    padding-top: 9px;
    padding-bottom: 9px;

}

.asset-image{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.asset {
    width: 100%;
    height: 100%;
}

.progress {
    height: 30px;
    border-radius: 0px !important;
    border: 2px solid #e50914;
}

.progress-bar {
    background-color: #e50914 !important;
}


.lead {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(230, 230, 230);
}


.des {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(230, 230, 230);
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 992px) {
    .lead {
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: rgb(230, 230, 230);
    }

    .coor {
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: rgb(230, 230, 230);
    }

    .des {
        border-top-width: 2px;
        border-top-style: solid;
        border-top-color: rgb(230, 230, 230);
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.acc-style {
    color: black;
    font-weight: bold;
}

[data-toggle="collapse"] .fa:before {  
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}

.searchBarHeader {
    width: 100%;
    background-color: black;
    height: 70px;
    padding: 10px;
}

.searchBar {
    height: 50px;
    border: none;
    background-color: white !important;
    font-size: 25px;
    color: #7b7676 !important;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
}

.icon {
    height: 100%;
    width: auto;
    text-align: center;
    background-color: white;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.head {
    color: #e50914;
    margin-bottom: 10px;
    font-weight: bold;
}

.no-style {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: inherit;
    cursor: pointer;
}

.fullContainer {
    height: 83%;
}

input[type=checkbox] + label{
    display:block;
    cursor: pointer; 
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: solid;
    border-color: #7b7676;
    border-width: 1px;
    display:inline-block;
    width: 22px !important;
    height: 22px !important;
    padding-left: 3px;
    padding-bottom: 0.4em;
    margin-right: 0.7em;
    vertical-align: bottom;
    color: transparent;
}

input[type=checkbox]:checked + label:before {
    color: black;
    background-color: #f2f2f2;
}

.custom-container {
    margin-left: 33px;
    margin-right: 33px;
}

.list-group-item {
    border: none;
    margin-top: 0px;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:20px !important;
}

.list-group-item:hover {
    background-color: #f4f4f4;
}

.list-item-head {
    color: #e50914;
    margin-bottom: 0px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.bold-head {
    font-size: 20px;
}

.top-bottom-border {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 10px;
 
}

.button-red-solid {
    background-color: #e50914;
    border-color: #e50914;
    color: white;
}

.text-light-gray-full {
    background-color: white;
    border-color: #999999 !important;
    border-width: 2px !important;
    color: black !important;
    border-radius: 0 !important;
}

label {
    font-size: 20px;
}

.dropdown-header {
    color: #e50914;
    font-size: 20px;
    display:inline;
}

.dropdown-header:hover {
    border-bottom-color: #e50914; 
}
