<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoverServlet</servlet-name>
        <servlet-class>servlets.RecoverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoverPasswordServlet</servlet-name>
        <servlet-class>servlets.RecoverPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TitlesServlet</servlet-name>
        <servlet-class>servlets.TitlesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TitleBriefServlet</servlet-name>
        <servlet-class>servlets.TitleBriefServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TitleDetailedServlet</servlet-name>
        <servlet-class>servlets.TitleDetailedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportsServlet</servlet-name>
        <servlet-class>servlets.ReportsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackupsServlet</servlet-name>
        <servlet-class>servlets.BackupsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssetsServlet</servlet-name>
        <servlet-class>servlets.AssetsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>servlets.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailedServlet</servlet-name>
        <servlet-class>servlets.UserDetailedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtworkDetailedServlet</servlet-name>
        <servlet-class>servlets.ArtworkDetailedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessagerServlet</servlet-name>
        <servlet-class>servlets.MessagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUserServlet</servlet-name>
        <servlet-class>servlets.NewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTitleServlet</servlet-name>
        <servlet-class>servlets.AddTitleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>servlets.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoverServlet</servlet-name>
        <url-pattern>/Recover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoverPasswordServlet</servlet-name>
        <url-pattern>/RecoverPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TitlesServlet</servlet-name>
        <url-pattern>/Titles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TitleBriefServlet</servlet-name>
        <url-pattern>/TitleBrief</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TitleDetailedServlet</servlet-name>
        <url-pattern>/TitleDetailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportsServlet</servlet-name>
        <url-pattern>/Reports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackupsServlet</servlet-name>
        <url-pattern>/Backups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetsServlet</servlet-name>
        <url-pattern>/Assets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailedServlet</servlet-name>
        <url-pattern>/UserDetailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtworkDetailedServlet</servlet-name>
        <url-pattern>/ArtworkDetailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessagerServlet</servlet-name>
        <url-pattern>/Messager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUserServlet</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTitleServlet</servlet-name>
        <url-pattern>/AddTitle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
